This notebook is to parse in the seperate randoms catalogs of CMASS and LOWZ and turn them into a database to use as a sanity check in the cross corr code. 

MT 5/18/20 12pm

In [1]:
# Make Jupyter Notebook full screen 
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [19]:
#import treecorr
#import fitsio
#import numpy
#import matplotlib
#import matplotlib.pyplot as plt
#import pandas as pd
#import astropy
#from astropy.coordinates import SkyCoord
#import astropy.units as u
import sqlite3
from astropy.table import Table
#from matplotlib.patches import Circle
#from mpl_toolkits.basemap import Basemap

In [3]:
dataPath = '/Users/megantabbutt/CosmologyDataProducts/'

In [14]:
CMASS_North_rand_Tbl = Table.read(dataPath + 'random0_DR12v5_CMASS_North.fits', format='fits')
del CMASS_North_rand_Tbl['WEIGHT_FKP', 'IPOLY', 'ISECT', 'ZINDX', 'SKYFLUX', 'IMAGE_DEPTH', 
                                'AIRMASS', 'EB_MINUS_V', 'PSF_FWHM']
CMASS_North_rand_DF = CMASS_North_rand_Tbl.to_pandas()
CMASS_North_rand_DF.head(3)

           RA        DEC         Z        NZ
0  135.024090  42.607186  0.665110  0.000086
1  184.900909  51.550700  0.462735  0.000310
2  217.878368  11.663515  0.488284  0.000399

In [15]:
CMASS_South_rand_Tbl = Table.read(dataPath + 'random0_DR12v5_CMASS_South.fits', format='fits')
del CMASS_South_rand_Tbl['WEIGHT_FKP', 'IPOLY', 'ISECT', 'ZINDX', 'SKYFLUX', 'IMAGE_DEPTH', 
                                'AIRMASS', 'EB_MINUS_V', 'PSF_FWHM']
CMASS_South_rand_DF = CMASS_South_rand_Tbl.to_pandas()
CMASS_South_rand_DF.head(3)

           RA        DEC         Z        NZ
0  347.224394   2.632473  0.606073  0.000205
1  336.943608  14.745975  0.614214  0.000192
2   26.516977  10.941628  0.525046  0.000375

In [16]:
LOWZ_North_rand_Tbl = Table.read(dataPath + 'random0_DR12v5_LOWZ_North.fits', format='fits')
del LOWZ_North_rand_Tbl['WEIGHT_FKP', 'IPOLY', 'ISECT', 'ZINDX', 'SKYFLUX', 'IMAGE_DEPTH', 
                                'AIRMASS', 'EB_MINUS_V', 'PSF_FWHM']
LOWZ_North_rand_DF = LOWZ_North_rand_Tbl.to_pandas()
LOWZ_North_rand_DF.head(3)

           RA        DEC         Z        NZ
0  220.691220  23.695234  0.348653  0.000332
1  237.275777   3.814782  0.219876  0.000382
2  151.965079  46.003255  0.209877  0.000370

In [17]:
LOWZ_South_rand_Tbl = Table.read(dataPath + 'random0_DR12v5_LOWZ_South.fits', format='fits')
del LOWZ_South_rand_Tbl['WEIGHT_FKP', 'IPOLY', 'ISECT', 'ZINDX', 'SKYFLUX', 'IMAGE_DEPTH', 
                                'AIRMASS', 'EB_MINUS_V', 'PSF_FWHM']
LOWZ_South_rand_DF = LOWZ_South_rand_Tbl.to_pandas()
LOWZ_South_rand_DF.head(3)

           RA        DEC         Z        NZ
0  341.643820  22.744648  0.358111  0.000320
1  339.986390  13.279577  0.343342  0.000362
2  358.325043  22.101216  0.334088  0.000387

In [21]:
connCMASSRands = sqlite3.connect(dataPath + 'CMASS_rands.db')
#CMASS_South_rand_DF.to_sql("CMASS_South_rands", con=connCMASSRands)
#CMASS_North_rand_DF.to_sql("CMASS_North_rands", con=connCMASSRands)

In [22]:
connLOWZRands = sqlite3.connect(dataPath + 'LOWZ_rands.db')
LOWZ_South_rand_DF.to_sql("LOWZ_South_rands", con=connLOWZRands)
LOWZ_North_rand_DF.to_sql("LOWZ_North_rands", con=connLOWZRands)

In [23]:
connCMASSRands.close()
connLOWZRands.close()